<div id="<%= entry.class.to_s.underscore %>-<%= entry.id %>" class="<%= entry.class.to_s.underscore %>">
  <h2 class="<%= entry.class.to_s.underscore %>-name"><%= entry.name %></h2>
  <%= image_tag(entry.preview_image.url, { :class => "toplist-preview-image" }) if entry.preview_image? %>
  <p class="<%= entry.class.to_s.underscore %>-description"><%= entry.description %></p>
  <% if entry.link %>
    <p class="<%= entry.class.to_s.underscore %>-link"><%= link_to entry.link, entry.link %></p>  
  <% end %>
</div>

